/examples/configs/iter_avg/keras/compiled_keras.h5
/examples/configs/iter_avg/keras/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T013738/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T013856/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T114105/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T114334/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/config_agg.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/config_agg.yml
/examples/configs/iter_avg/keras/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013738/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013856/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114105/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114334/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/config_party0.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/config_party0.yml
/examples/configs/iter_avg/keras/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013738/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013856/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114105/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114334/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/config_party1.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/config_party1.yml
/examples/data/mnist/random/data_party0.npz
/examples/data/mnist/random/data_party1.npz
/errors.log
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/Figure_1.png
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/Figure_2.png
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/Figure_3.png
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/Figure_4.png
/info.log
/keras-cnn_1647394151.3517532.h5
/keras-cnn_1647394151.3579497.h5
/keras-cnn_1647407659.4752474.h5
/keras-cnn_1647407659.4814785.h5
/keras-cnn_1647408697.8057678.h5
/keras-cnn_1647408697.8110688.h5
/keras-cnn_1647409132.808212.h5
/keras-cnn_1647409132.8173578.h5
/keras-cnn_1647409205.5056193.h5
/keras-cnn_1647409205.5141947.h5
/keras-cnn_1647445408.032953.h5
/keras-cnn_1647445408.0310285.h5
/keras-cnn_1647445538.0481064.h5
/keras-cnn_1647445538.0499833.h5
/experiment_manager/ibmfl_cli_automator/local/experiments/latest/
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/metadata.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/metadata.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/metadata.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/metadata.yml
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/metadata.yml
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013738/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013856/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114105/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114334/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/metrics_party0.json
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013738/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013856/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114105/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114334/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/metrics_party1.json
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/metrics_party1.json
/examples/datasets/mnist.npz
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T013738/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T013856/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T114105/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T114334/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/stderr_agg.txt
/stderr_agg.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013738/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013856/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114105/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114334/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/stderr_party0.txt
/stderr_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013738/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013856/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114105/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114334/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/stderr_party1.txt
/stderr_party1.txt
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T013738/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T013856/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T114105/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/aggregator/20220316T114334/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/stdout_agg.txt
/stdout_agg.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013738/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T013856/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114105/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client1/20220316T114334/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/stdout_party0.txt
/stdout_party0.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013738/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T013856/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114105/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/client2/20220316T114334/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013059/trial1/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial1/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T013738/trial2/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial1/stdout_party1.txt
/experiment_manager/ibmfl_cli_automator/local/experiments/20220316T114105/trial2/stdout_party1.txt
/stdout_party1.txt
